<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
	<img src="/assets/images/alor-holiday-resort-banner.jpg" class="header-image" flex="100" alt="page header">
</md-whiteframe>

<section layout="row">

	<div flex="100" flex-gt-md="66" offset-gt-md="15" class="md-padding">

		<h2 class="md-display-1">Welcome to Resort Manager</h2>

		<div layout="row">
			<div class="md-padding" flex="33" layout="column" layout-align="center center">
			  	<h4 class="md-title md-padding" flex="33" layout="column" layout-align="center center">
					<md-icon class="md-accent md-hue-2" md-svg-src="/assets/bower_components/material-design-icons/hardware/svg/production/ic_desktop_windows_24px.svg" alt=""></md-icon>
					<div class="text-center">CREATE YOUR <br> OWN RESORT <br> MANAGER SYSTEM</div>
				</h4>
			</div>

			<div class="md-padding" flex="33" layout="column" layout-align="center center">
			  	<h4 class="md-title md-padding" flex="33" layout="column" layout-align="center center">
					<md-icon class="md-accent md-hue-2" md-svg-src="/assets/bower_components/material-design-icons/social/svg/production/ic_group_24px.svg" alt=""></md-icon>
					<div class="text-center">MANAGE YOUR <br> EMPLOYEES AND <br> STAFFS</div>
				</h4>
			</div>

			<div class="md-padding" flex="33" layout="column" layout-align="center center">
			  	<h4 class="md-title md-padding" flex="33" layout="column" layout-align="center center">
					<md-icon class="md-accent md-hue-2" md-svg-src="/assets/bower_components/material-design-icons/hardware/svg/production/ic_phonelink_24px.svg" alt=""></md-icon>
					<div class="text-center">MOBILE READY <br> &nbsp; <br> &nbsp;</div>
				</h4>
			</div>
		</div>

		<div class="md-padding">
			<md-divider></md-divider>

			<div layout="row" class="md-padding">
				<div flex="50" layout layout-align="center center">
					<md-button class="md-raised md-primary md-hue-1">CREATE NEW <br> RESORT MANAGER SYSTEM</md-button>
				</div>

				<div flex="50" layout layout-align="center center">
					<md-button class="md-raised md-primary md-hue-1">LOGIN TO EXISTING <br> RESORT MANAGER SYSTEM</md-button>
				</div>
			</div>

			<md-divider></md-divider>
		</div>

		<div layout="column">
			
			<md-whiteframe class="md-whiteframe-z1 md-margin md-padding" layout="column" style="background-color:#fff;">
			  	<h4 class="md-title">Why use Resort Manager System?</h4>
			  	<p class="md-body-1">
			  		Resort Manager allows resort owners to create their own management system. The system can perform management tasks
			  		such as HR management, room / cottage reservations and services, restaurant services and many more.
			  	</p>
			</md-whiteframe>

		</div>
	</div>

	<div flex></div>
	
</section>

<footer class="md-padding" layout="column" layout-gt-sm="row">
	<div flex>
		
	</div>
	<div flex>
		
	</div>
	<div flex>
		
	</div>
</footer>